[% html = {
    title       => app_name _ '',
    keywords    => '',
    js          => {
        jquery                  => 1,
    }
} %]
[% INCLUDE 'include/html_head.tt' %]
<script type="text/javascript">
</script>
</head>
<body>
[% LPROCESS('include/header.tt') %]
<div align="center">
<h3 class="font_l">完了しました</h3><br />
<a href="[% base %]all_form/list/">戻る</a>
</div>
[% LPROCESS('include/footer.tt') %]
</body>
</html>
