[mysqld_multi]
mysqld                          = /usr/local/mysql/bin/mysqld_safe
mysqladmin                      = /usr/local/mysql/bin/mysqladmin
user                            = root

[mysqld]
user                            = mysql
basedir                         = /usr/local/mysql
character-set-server            = utf8
init-connect                    = SET NAMES utf8
collation-server                = utf8_unicode_ci
skip-character-set-client-handshake

log-error                       = error.log
log-slow-queries                = slow.log
long-query-time                 = 3

key_buffer_size                 = 16M
max_allowed_packet              = 1M
table_open_cache                = 64
sort_buffer_size                = 512K
net_buffer_length               = 8K
read_buffer_size                = 256K
read_rnd_buffer_size            = 512K
myisam_sort_buffer_size         = 8M

loose_handlersocket_port        = 9998
loose_handlersocket_port_wr     = 9999
loose_handlersocket_threads     = 16
loose_handlersocket_threads_wr  = 1
open_files_limit                = 65535

[mysqld1]
port                            = 3501
datadir                         = /var/mysqld-multi/1
pid-file                        = /var/mysqld-multi/1/mysqld.pid
socket                          = /var/mysqld-multi/1/mysqld.sock
log-error                       = /var/mysqld-multi/1/error.log
log-slow-queries                = /var/mysqld-multi/1/slow.log
server-id                       = 1
log_bin                         = bin.log
log_bin_index                   = bin.log.index
relay_log                       = relay-bin
relay_log_index                 = relay-bin.index
expire_logs_days                = 7
auto_increment_increment        = 2
auto_increment_offset           = 1

[mysqld2]
port                            = 3502
datadir                         = /var/mysqld-multi/2
pid-file                        = /var/mysqld-multi/2/mysqld.pid
socket                          = /var/mysqld-multi/2/mysqld.sock
log-error                       = /var/mysqld-multi/2/error.log
log-slow-queries                = /var/mysqld-multi/2/slow.log
server-id                       = 2
log_bin                         = bin.log
log_bin_index                   = bin.log.index
relay_log                       = relay-bin
relay_log_index                 = relay-bin.index
expire_logs_days                = 7
auto_increment_increment        = 2
auto_increment_offset           = 2

[mysqld3]
port                            = 3503
datadir                         = /var/mysqld-multi/3
pid-file                        = /var/mysqld-multi/3/mysqld.pid
socket                          = /var/mysqld-multi/3/mysqld.sock
log-error                       = /var/mysqld-multi/3/error.log
log-slow-queries                = /var/mysqld-multi/3/slow.log
server-id                       = 1
log_bin                         = bin.log
log_bin_index                   = bin.log.index
relay_log                       = relay-bin
relay_log_index                 = relay-bin.index
expire_logs_days                = 7
auto_increment_increment        = 2
auto_increment_offset           = 1

[mysqld4]
port                            = 3504
datadir                         = /var/mysqld-multi/4
pid-file                        = /var/mysqld-multi/4/mysqld.pid
socket                          = /var/mysqld-multi/4/mysqld.sock
log-error                       = /var/mysqld-multi/4/error.log
log-slow-queries                = /var/mysqld-multi/4/slow.log
server-id                       = 2
log_bin                         = bin.log
log_bin_index                   = bin.log.index
relay_log                       = relay-bin
relay_log_index                 = relay-bin.index
expire_logs_days                = 7
auto_increment_increment        = 2
auto_increment_offset           = 2

[mysqld5]
port                            = 3505
datadir                         = /var/mysqld-multi/5
pid-file                        = /var/mysqld-multi/5/mysqld.pid
socket                          = /var/mysqld-multi/5/mysqld.sock
log-error                       = /var/mysqld-multi/5/error.log
log-slow-queries                = /var/mysqld-multi/5/slow.log
server-id                       = 1
log_bin                         = bin.log
log_bin_index                   = bin.log.index
relay_log                       = relay-bin
relay_log_index                 = relay-bin.index
expire_logs_days                = 7
auto_increment_increment        = 2
auto_increment_offset           = 1

[mysqld6]
port                            = 3506
datadir                         = /var/mysqld-multi/6
pid-file                        = /var/mysqld-multi/6/mysqld.sockmysqld.pid
socket                          = /var/mysqld-multi/6/mysqld.sockmysqld.sock
log-error                       = /var/mysqld-multi/6/error.log
log-slow-queries                = /var/mysqld-multi/6/slow.log
server-id                       = 2
log_bin                         = bin.log
log_bin_index                   = bin.log.index
relay_log                       = relay-bin
relay_log_index                 = relay-bin.index
expire_logs_days                = 7
auto_increment_increment        = 2
auto_increment_offset           = 2

