[% html = {
    title       => '',
    keywords    => '',
    js          => {
        jquery                  => 1,
        jquery_hover_toggle     => 1,
    }
} %]
[% INCLUDE 'include/html_head.tt' %]
</head>
<body>
PC TEMPLATE<br>
{emoji:晴れ}<br>
{emoji:ゴルフ}<br>
日本語でおｋ
</body>
</html>
